{
  "openapi": "3.0.1",
  "info": {
    "title": "Voice Harbor API",
    "description": "API for managing voice processing jobs, file uploads/downloads, and job content submission for the Voice Harbor service.",
    "version": "0.45.1"
  },
  "servers": [
    {
      "url": "http://sandbox.voiceharbor.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/jobs": {
      "post": {
        "summary": "Create a new job",
        "description": "Creates a new job on the server after verifying the usage token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all jobs",
        "description": "Retrieves a list of jobs associated with the authenticated token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/jobs/{jobId}/files/upload-url": {
      "post": {
        "summary": "Get upload signed URL",
        "description": "Returns a signed URL for uploading a file to the server.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the job"
          }
        ],
        "requestBody": {
          "description": "File details for which to get the signed URL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadSignedUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/jobs/{jobId}/files/download-url": {
      "post": {
        "summary": "Get download signed URL",
        "description": "Returns a signed URL for downloading a file from the server.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the job"
          }
        ],
        "requestBody": {
          "description": "File details for which to get the download signed URL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadSignedUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed URL generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/jobs/{jobId}/files/finalized": {
      "post": {
        "summary": "Check file existence",
        "description": "Checks if a file is available (finalized) in the results bucket.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the job"
          }
        ],
        "requestBody": {
          "description": "File details for checking existence",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckFileExistsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File existence status returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileExistenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/jobs/{jobId}/content": {
      "post": {
        "summary": "Submit job content",
        "description": "Submits a job content item, including file name and audio duration.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the job"
          }
        ],
        "requestBody": {
          "description": "Job content details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobContentSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job content submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobContentSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get job content",
        "description": "Retrieves all content items for a given job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the job"
          }
        ],
        "responses": {
          "200": {
            "description": "Job content retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobContentList"
                }
              }
            }
          },
          "400": {
            "description": "Missing jobId parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Database error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/admin/developer-token": {
      "post": {
        "summary": "Map admin token to developer token",
        "description": "Creates a new developer token mapped to the provided admin token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Developer token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid admin token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/admin/developer-tokens": {
      "get": {
        "summary": "Get all developer tokens",
        "description": "Retrieves all developer tokens associated with the provided admin token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of developer tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperTokensList"
                }
              }
            }
          },
          "401": {
            "description": "Missing Authorization header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid admin token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobCreationResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          }
        },
        "required": [
          "job_id"
        ]
      },
      "SignedUrlResponse": {
        "type": "object",
        "properties": {
          "signedUrl": {
            "type": "string"
          }
        },
        "required": [
          "signedUrl"
        ]
      },
      "CheckFileExistsRequest": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          }
        },
        "required": [
          "fileName"
        ]
      },
      "FileExistenceResponse": {
        "type": "object",
        "properties": {
          "exists": {
            "type": "boolean"
          }
        },
        "required": [
          "exists"
        ]
      },
      "UploadSignedUrlRequest": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "fileType": {
            "type": "string"
          }
        },
        "required": [
          "fileName",
          "fileType"
        ]
      },
      "DownloadSignedUrlRequest": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          }
        },
        "required": [
          "fileName"
        ]
      },
      "JobContentSubmissionRequest": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "audio_duration": {
            "type": "number"
          }
        },
        "required": [
          "fileName",
          "audio_duration"
        ]
      },
      "JobContentSubmissionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "JobContent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "job_id": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "audio_duration": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "job_id",
          "file_name",
          "audio_duration",
          "created_at"
        ]
      },
      "JobContentList": {
        "type": "object",
        "properties": {
          "jobContent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobContent"
            }
          }
        },
        "required": [
          "jobContent"
        ]
      },
      "JobList": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "job_id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "job_id",
                "token",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "jobs"
        ]
      },
      "DeveloperTokenResponse": {
        "type": "object",
        "properties": {
          "developerToken": {
            "type": "string"
          }
        },
        "required": [
          "developerToken"
        ]
      },
      "DeveloperTokensList": {
        "type": "object",
        "properties": {
          "developerTokens": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "usage_token": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "usage_token",
                "created_at"
              ]
            }
          }
        },
        "required": [
          "developerTokens"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "message"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
